<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>編集ページ</title>
</head>
<body>
<header>
    <h1>編集</h1>
</header>
<div class="wrap">
    <form action="/books/{{.book.ID}}/update" method="post">
        <p>Title：<input type="text" name="title" value="{{.book.Title}}" /></p>
        <p>Price: <input type="text" name="price" value="{{.book.Price}}" /></p>
        <p>Author: <input type="text" name="author" value="{{.book.Author}}"/></p>
        <p><input type="submit" value="Send"></p>
    </form>
</div>
</body>
</html>